# API 키 파일
.env

# 파이썬 가상환경 폴더
venv/
.conda/
rag_chatbot_project/

# 파이썬 캐시 파일
__pycache__/
*.pyc

# Jupyter Notebook 캐시
.ipynb_checkpoints/

# 파이썬 파일들
chatbot.py
db_manager.py
main.py

# 과제 pdf 파일
2025 10 (공유) 강원대 중간 고사 내용.pdf
